<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$AJ[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$site_name}{/if}{/if}</title>
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
    <meta name="applicable-device" content="mobile">
   
    <script src="{AJ_MOB}static2020/js/jquery.min.js"></script>
    <script src="{AJ_MOB}static2020/js/font-size.js"></script>
    <link rel="stylesheet" href="{AJ_MOB}static2020/css/base.css?t=1606958269">
    <link rel="stylesheet" href="{AJ_MOB}static2020/css/style.css?t=1606958269">
    <style>
        .footer-js img{width:auto;}
    </style>
</head>
<body>

<!-- 头部 S-->
<div class="mc-header">
    <a href="index.html" class="go-back"></a>
    <h3>楼盘动态</h3>
</div>
<!-- 头部 E-->


<div class="main" style="background: none;">
    <div class="build_dynamic">
        <ul class="list">
        
          <!--{php $tags=tag("table=article_8&condition=status=3 and houseid=$itemid&pagesize=20&page=$page&fields=itemid,title,thumb,introduce,linkurl,addtime&order=addtime desc&template=null");}-->
                    {loop $tags $t}
                        <li>
                <a href="{AJ_MOB}news/{$t[linkurl]}" title="{$t[alt]}">
                    <h3 class="name">{$t[title]}</h3>
                    <p class="m_con">{$t[introduce]}</p>
                    <time>{date('Y-m-d', $t[addtime])}</time>
                </a>
            </li>
                        {/loop} 
            
        </ul>
    </div>
    <div class="page_list">
    		<!--分页开始--> 
{if $showpage && $pages}<div class="demo-block">
		<div class="pager">
			{$pages}
		</div>
	</div>{/if}
            </div>
    <!-- 导航行为 S-->
<div class="nav-act">
    <a href="/" class="homepage">首页</a>
    <a href="{$EXT[comment_mob]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}" class="consult">点评</a>
    <a href="tel:{$telephone}" class="call-tel">拨打电话</a>
   <a href="javascript:;" class="order-l-house dialog" data-id="{$itemid}" data-model="house"  data-hname="{$title}" data-username="{$_username}"  data-type="0" data-uri="{AJ_MOB}subscribe.php">预约看房</a>
</div>
<!-- 导航行为 E-->
<script src="{AJ_MOB}static2020/js/layer.js"></script>
<script src="{AJ_MOB}static2020/js/subscribe.js"></script>

</div>

{template 'foottj'}
</body>
</html>