<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$AJ[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$site_name}{/if}{/if}</title>
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
    <meta name="applicable-device" content="mobile">
   
    <script src="{AJ_MOB}static2020/js/jquery.min.js"></script>
    <script src="{AJ_MOB}static2020/js/font-size.js"></script>
    <link rel="stylesheet" href="{AJ_MOB}static2020/css/base.css?t=1606958269">
    <link rel="stylesheet" href="{AJ_MOB}static2020/css/style.css?t=1606958269">
    <style>
        .footer-js img{width:auto;}
    </style>
</head>
<body>

<!-- 头部 S-->
<div class="mc-header">
    <a href="huxing.html" class="go-back"></a>
    <h3>{$hxinfo[title]}</h3>
</div>
<!-- 头部 E-->

<div class="main" style="background: none;padding-bottom: 1.92rem;">
    <div class="house-type-detail">
        <div class="big_img">
            <img src="{$hxinfo[thumb]}"  alt="{$hxinfo[bh]}">
        </div>
        <div class="wrap">
            <div class="m_info">
                <div class="t_box">
                    <span class="houseType">{$hxinfo[bh]} {$hxinfo[shi]}室{$hxinfo[ting]}厅{$hxinfo[wei]}卫</span>
                    <span class="sale-status on">{if $hxinfo[xszt]}在售{else}已售{/if}</span>
                </div>
                <div class="c_box">
                    <div class="price"><b>{floor($hxinfo['dj']*$hxinfo['mj']/10000)}</b>万({$hxinfo[dj]}元/㎡)</div>
                </div>
                <div class="b_box clearfix">
                    <div class="build-area fl">
                        <span class="tit">建筑建面：</span>
                        <span class="txt">{$hxinfo[mj]}㎡</span>
                    </div>
                    <div class="build-toward fr">
                        <span class="tit">类型：</span>
                        <span class="txt">{search_cats($hxinfo[catid], '6')}</span>
                    </div>
                </div>
            </div>

            <div style="height:0.43rem;width: 100%;background:rgba(248,248,248,1);"></div> <!--分界线-->

            <!-- 亮点 S -->
            <div class="bright_spot">
                <div class="title">
                    <h3>特色</h3>
                </div>
                <div class="desc">
                    <p>{$hxinfo[note]} </p>
                </div>
            </div>
            <!-- 亮点 E -->
        </div>
    </div>
    <!-- 导航行为 S-->
<div class="nav-act">
    <a href="/" class="homepage">首页</a>
    <a href="{$EXT[comment_mob]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}" class="consult">点评</a>
    <a href="tel:{$telephone}" class="call-tel">拨打电话</a>
    <a href="javascript:;" class="order-l-house dialog" data-id="{$itemid}" data-model="house"  data-hname="{$title}" data-username="{$_username}"  data-type="0" data-uri="{AJ_MOB}subscribe.php">预约看房</a>
</div>
<!-- 导航行为 E-->
<script src="{AJ_MOB}static2020/js/layer.js"></script>
<script src="{AJ_MOB}static2020/js/subscribe.js"></script>

</div>

{template 'foottj'}
</body>
</html>