<!DOCTYPE HTML>
<html lang="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">     
       <title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$AJ[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$site_name}{/if}{/if}</title>
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
<link rel="stylesheet" href="{AJ_MOB}static2019/css/info-mb.css">
	  <link rel="stylesheet" href="{AJ_MOB}static2019/css/info-base.css">
		<link rel="stylesheet" href="{AJ_MOB}static2019/css/weui.css">
    <link rel="stylesheet" href="{AJ_MOB}static2019/css/custom.css">
	<link rel="stylesheet" href="{AJ_MOB}static2019/css/hm.css" />
<link rel="stylesheet" href="{AJ_MOB}static2019/css/hs.css" />
	<script>var loading = false, page = 1,scrollto =0,fxqg = '长按保存图片，分享到群或朋友圈';</script>
    <script src="{AJ_MOB}static2019/js/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="{AJ_MOB}static2019/js/jquery-weui.js" type="text/javascript" charset="UTF-8"></script>
	<script src="{AJ_MOB}static2019/js/jweixin-1.2.0.js"></script>
    <style>
.weui-dialog__btn, .weui-navbar__item.weui_bar__item_on, .color-strong, .chip-row .toutiao, .weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before, .weui-vcode-btn, .weui-dialog__btn_primary, .weui-cells_radio .weui-check:checked+.weui-icon-checked:before, .weui-icon-checked:before, .weui-agree__checkbox:checked:before, .weui-icon-success-circle, .weui-icon-success-no-circle, .weui-search-bar__cancel-btn, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label,.main_color,.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label,.picker-button,.weui-form-preview__btn_primary {color:#00c07b!important}
.weui_bar__item_on span:after,.weui-btn_primary, .weui-btn_primary:not(.weui-btn_disabled):active,.weui-btn_mini,.x_header, .main_bg,.position li.current, .position1 li.current,.post-tags .tag-on.weui-btn_default,.is-green, .weui-slider__track,.tsbtn_m{background-color:#00c07b!important}
.foot_link{color:#aaa; font-size:12px; margin:0 0; padding:10px 10px;}
.foot_link .link {color:#ccc; font-size:14px;}
.foot_link a {color:#666;}
.bianhao{display:block; padding:0 10px; height:25px;line-height:25px;color:#fff;font-size:12px;text-align:center;border-top-right-radius:50px;border-bottom-right-radius:50px;position:absolute;top:25px;left:0;z-index:9;background-color:rgba(0,0,0,.6)}
.swipe-wrap img{height: 280px;}
body,td,th {
	font-family: "Helvetica Neue", Roboto, "microsoft yahei";
}
    </style>
    </head>
    	
   
	

<body>
<!--aijia容器开始-->	
<div class="page__bd">

<header class="x_header bgcolor_11 cl f15">
    <a class="z f14" href="javascript:window.history.go(-1);"><i class="iconfont icon-fanhuijiantou w15"></i>返回</a>
    <a class="y sidectrl view_ctrl"><i class="iconfont icon-fenlei f14"></i></a>
	<div class="navtitle" onClick="location.href='index.php'">{$title}</div>
  </header>
<div class="x_header_fix" ></div>
    <div class="none view_tools_mask"></div>
    <div class="none view_tools animated">
        <ul>
                        <li class="border_bottom" ><a href="{AJ_MOB}"><i class="vm iconfont icon-fenlei "></i>首页</a></li>
            <li><!--header区域 导航栏 区域  开始-->
						 <a href="{AJ_MOB}my.php"><i class="vm iconfont icon-xiaolian2 "></i>我的</a>
			</li>
        </ul>
</div>




<div class="m-information-qm" style="background-color:#f8f8f8;border-bottom:none;">
        <div class="wp">
          <div class="top istrade0">
               <!-- <div class="g-info-qm">
					<a href="javascript:;" id="share2015" class="more we_share"></a>
                </div>-->
				
                <i class="deal"></i>
            </div>
			
						
			 <ul class="ul-txt1-qm">
               <li ><div class="tit">{$title}</div></li>
               <li data-href="sale.html"  class="display1590"><span>二手房<b><em id="price">	{get_sale($itemid)}  </em></b></span><em id="price" style="display:none">{$price}</em></li>
		
               <li data-href="rent.html" ><span>租房<b><em id="chrsize">{get_rent($itemid)}</em></b></span></li>
               
            </ul>
        
     
			 
		<a href="#" id="quXY" data-loupany="{$y}" data-loupanx="{$x}" class="g-addr-qm">小区<span>
					{$housename}<em>{$address}</em></span><i></i></a>
					
		</strong>

			    
        </div>

	

<div id="components-demo" class="wp">

<ul class="ul-list1-hlg">
 {loop $tags $t}
<li class="istradefalse" data-href="{$t[linkurl]}">
<div class="pic"><a>
<img src="{imgurl($t[thumb])}" alt="">
<em class="start displayfalse"></em>
<!--
<span class="st6"></span>-->

</a></div>
<div class="txt"><h3 class="first"><a>
<em class="e1 displaytrue">{if $t[ishot]}顶{/if}</em>
<font style="">{$t[title]}</font>
</a></h3> 

<p class="t1">	{if $t[room]}{$t[room]}室{/if}{if $t[hall]}{$t[hall]}厅{/if}{if $t[toilet]}{$t[toilet]}卫{/if} /  {$t[houseearm]}㎡</p> 

<div class="info info0"><div class="left"><span>{if $t[typeid]==0}个人{else}中介{/if}</span><span>{timetodate($t[edittime], 3)}</span></div>
<p class="right">{if $t[price]}{$t[price]}万元{else}面议{/if}</p>
</div></div> <i class="suc displayfalse"></i> <em class="bao displayfalse"></em>
</li>
{/loop}
</ul>


</div>

<div class="demo-block">

		
        
         {if $pages}<div class="pager">{$pages}</div>{/if}
         

</div>


<div class="foot_link" id="foot_link">
友情提醒：该信息由网友自行发布，不代表本网认可并赞同其观点及真实性，请自主甄别。如遇虚假信息可拨打客服电话{$AJ[telephone]}或在线举报，涉及交易时请仔细验证对方资质，签订规范的交易合同。
</div>
<div style="height:68px;background-color:#FFFFFF;"> </div>
<div class="ft-nv ft-nv-index">
	<a href="{AJ_MOB}"><i style="background-position: -297px -2px;"></i>首页</a>
	<a href="{AJ_MOB}house" class=""><i style="background-position: -297px -62px;"></i>新房</a>
	<a id="fabubtn" class="center "><i style="background-position: -54px -78px;"></i>发布</a>
		<a href="{AJ_MOB}sale" class=""><i style="background-position: -297px -122px;"></i>二手房</a>
		<a href="{AJ_MOB}my.php" class=""><i style="background-position: -297px -182px;"></i>我的</a>
</div>
 <!--tffooter结束-->  
 
<div class="fabuBox">
  <div class="fabu">
    <ul class="clearfix">
		   <li class="t1">
			<a href="{AJ_MOB}member/my.php?mid=5"><img src="{AJ_MOB}static2019/images/fabu_btn_4.png" alt=""></a>
		<p>二手房出售</p>
	  </li>
	   	   <li class="t2">
			<a href="{AJ_MOB}member/my.php?mid=7"><img src="{AJ_MOB}static2019/images/fabu_btn_5.png" alt=""></a>
		<p>有房出租</p>
	  </li>
	   	 
	   	   <li class="t4">
			<a href="{AJ_MOB}member/my.php?mid=16"><img src="{AJ_MOB}static2019/images/fabu_btn_3.png" alt=""></a>
		<p>求购房屋</p>
	  </li>
	   	 
	 
	    
	 </ul>
    <div class="cancel"></div>
  </div>
</div>
<div class="bg_1"></div>
<script>
$(function(){
  // 发布
  $('#fabubtn').click(function(){
    var box = $('.fabuBox');
    if (!box.hasClass('open')) {
      $('body,html').bind('touchmove', function(e){e.preventDefault();})
      box.addClass('open');
      $('.bg_1').css({"display":"block"});
    }else {
      $('body,html').unbind('touchmove');
      box.removeClass('open');
    }
  })

  $('.fabuBox .cancel').click(function(){
    $('.fabuBox').addClass('close');
    setTimeout(function(){
      $('body,html').unbind('touchmove');
      $('.fabuBox').removeClass('open close');
      $('.bg_1').css({"display":"none"});
    }, 600)
  })
})
</script> <!--tffooter结束-->    
<!--aijia容器结束-->
<script>
	$("#nav div,#nav li").on("click",function(e){
		$(this).toggleClass("on").siblings().filter(".on").removeClass("on");
		e.stopPropagation()
	});
</script>
<script type="text/javascript">
$('ul li').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
	$('.button-bar__item').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
    $('.ui-searchbar').tap(function(){
        $('.ui-searchbar-wrap').addClass('focus');
        $('.ui-searchbar-input input').focus();
    });
    $('.ui-searchbar-cancel').tap(function(){
        $('.ui-searchbar-wrap').removeClass('focus');
    });
</script>
{template 'foottj'}

</body>
</html>